@import "../../assets/css/variables";

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.coloredWrapper {
    background-image: url("../../assets/images/bg-main-desktop.png");
    background-size: cover;
    width: 35%;
}

.whiteWrapper {
    width: 65%;
    background: var(--white);
    display: flex;
    justify-content: center;
}

.cardFront,
.cardBack {
    position: absolute;
    width: 19rem;
    height: 10.5rem;
    border-radius: 10px;
    background-size: cover;
    color: var(--white);
    box-shadow: 20px 10px 50px 0px rgba(72, 69, 82, 0.47);
    animation-duration: 0.5s;
    animation-name: animate-card;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-card {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.cardFront {
    top: 20%;
    right: 56%;
    background-image: url("../../assets/images/bg-card-front.png");

    .cardFrontLogo {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .cardNumber {
        position: absolute;
        top: 56%;
        left: 10%;
        font-size: 1.5rem;
    }

    .cardHolderName {
        position: absolute;
        text-transform: uppercase;
        top: 79%;
        left: 10%;
    }

    .cardExpireDate{
        position: absolute;
        top: 79%;
        right: 10%;
    }
}

.cardBack {
    top: 52%;
    right: 52%;
    background-image: url("../../assets/images/bg-card-back.png");

    .cardBackCVV {
        position: absolute;
        top: 44%;
        right: 12%;
    }
}
@media (min-width: $desktop) {
    .cardFront,
    .cardBack {
        width: 25rem;
        height: 14rem;
    }
}

@media (max-width: $mobile) {
    .wrapper {
        flex-direction: column;
    }

    .coloredWrapper {
        background-image: url("../../assets/images/bg-main-mobile.png");
        height: 30%;
        width: 100%;
    }

    .whiteWrapper {
        height: 70%;
        width: 100%;
    }

    .formWrapper {
        width: 90%;
    }

    .cardFront {
        top: 16%;
        left: 3%;
        z-index: 1;
    }
    .cardBack {
        top: 2%;
        right: 5%;
    }
}
